@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .clip-triangle-inverse {
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }
}

.text-customBrown{
  color: #78350F;
}

.bg-customCream{
  background-color: rgb(254, 252,231);
}

.border-customBrown{
  border-color: #78350F;
}

.bg-customYellow{
  background-color: #FBBF24;
  
}
